<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAY7rT_yQa1ElkdifvA1Iu4cvRI_N4GfEc</string>
	<key>GCM_SENDER_ID</key>
	<string>79026963147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ravanao2.thirtyconcepts</string>
	<key>PROJECT_ID</key>
	<string>thirtydaysthirtyconcepts</string>
	<key>STORAGE_BUCKET</key>
	<string>thirtydaysthirtyconcepts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79026963147:ios:53859016a196def4c3514e</string>
</dict>
</plist>